# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
.history/*

# misc
/.sass-cache
/src/styles/main.css
/src/styles/main.css.map

# System Files
.DS_Store
Thumbs.db
